<div id="cookie-banner" class="cookie uk-position-fixed uk-position-bottom uk-width-1-1" hidden>
  <div class="cookie--container uk-container">
    <div class="cookie--card uk-card uk-card-default uk-card-body uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <img class="cookie--bg" src="./assets/images/global/cookie/cookie-bg.png" alt="бумага">
      <div class="cookie--text uk-margin-small-right">Мы&nbsp;используем файлы cookie. Подробнее в&nbsp;<a href="./privacy.html" target="_blank" rel="noopener">политике конфиденциальности</a>.</div>
      <button id="cookie-accept" class="cookie--bttn uc--bttn uc--bttn-small uk-button uk-button-primary">Принять</button>
    </div>
  </div>
</div>