// .cta { padding-top: 48px; padding-bottom: 48px; }
.cta--card {
  border-radius: 40px !important;
  background: var(--bg-color-accent) !important;
  color: var(--text-color-inverse) !important;
  box-shadow: none !important;
}

.cta--column {
  max-width: 480px !important;
  min-height: 640px;
  margin: auto !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative !important;
}

.cta--title {
  color: var(--text-color-inverse) !important;
  font-family: var(--font-family-accent) !important;
  font-weight: 500 !important;
  font-size: 1.875rem !important;
  line-height: 1.25;
  margin-bottom: 1.65rem !important;
}

@media screen and (min-width: 960px) {
  .cta--title {
    font-size: 2.25rem !important;
  }
}

.cta--text {
  font-family: var(--font-family-accent) !important;
  font-size: 1.25rem !important;
  line-height: 1.5;
  font-weight: 300 !important;
  margin-bottom: 2.5rem !important;
}

.cta--divider {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 90%;
  background-color: var(--text-color-inverse) !important;
  border-radius: 2px;
  opacity: .75;
}

.cta--photos {
  min-height: 540px;
  z-index: 2;
}

.cta--illustation {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  display: block;
  min-height: 400px;
  min-width: 400px;
  background-color: bisque;
  z-index: 5;
}

.cta--photo {
  display: block;
  width: 280px;
  height: 340px;
  border-radius: 15px !important;
  position: absolute;

  // TEST
  background-color: aqua;
}

.cta--photo-a {
  transform: rotate(-5deg);
  top: 40px;
  left: 20px;
  z-index: 6;
}

.cta--photo-b {
  transform: rotate(2deg);
  bottom: 40px;
  right: 20px;
  z-index: 7;
}

.cta-input {
  height: 64px !important;
  font-weight: 400 !important;
  padding: 0 20px !important;
  color: var(--text-color-primary) !important;
  background-color: var(--bg-color-input) !important;
  border: none !important;
  border-radius: 10px !important;
  max-width: 460px !important;
}

.cta-input:focus {
  transition: var(--bttn-transition);
  background-color: var(--bg-color-accent-second) !important;
  color: var(--text-color-inverse) !important;
}

.cta-input:not(:placeholder-shown) {
  background-color: var(--bg-color-accent-second) !important;
  color: var(--text-color-inverse) !important;
}

.cta-input::placeholder {
  color: var(--text-color-primary) !important;
  transition: var(--bttn-transition);
  opacity: .75;
}

.cta-input:focus::placeholder {
  opacity: 0;
}

.cta--bttn {
  background-color: var(--bg-color-base) !important;
  color: var(--text-color-accent-second) !important;
  padding: 5px 48px !important;
  font-size: 1rem !important;
  text-transform: none !important;
  transition: var(--bttn-transition);
}

.cta--bttn:hover {
  background-color: var(--bg-color-accent-second) !important;
  color: var(--text-color-inverse) !important;
}

.cta--checkbox {
  width: 18px;
  height: 18px;
  accent-color: var(--text-color-inverse) !important;
  border: 2px solid var(--text-color-inverse) !important;
  background-color: none !important;
}

.cta--checkbox:checked {
  background-color: none !important;
}

.cta-checkbox-link {
  color: var(--text-color-inverse) !important;
  text-decoration: underline !important;
  transition: var(--bttn-transition);
}

.cta-checkbox-link:hover {
  color: var(--text-color-accent-second) !important;
}