.experts--title {
  max-width: 480px !important;
  margin: 0 auto !important;
  text-align: center !important;
  color: var(--text-color-accent) !important;
}

@media screen and (min-width: 980px) {
  .experts--title {
    text-align: left !important;
    margin: 0 30px !important;
  }
}

.experts--text {
  max-width: 480px;
  margin: 0 auto !important;
  text-align: center !important;
  font-size: 1rem !important;
  color: var(--text-color-accent) !important;
}

@media screen and (min-width: 980px) {
  .experts--text {
    text-align: left !important;
  }
}

.experts--container {
  padding: 0 !important;
}

.experts--grid {
  display: grid !important;
  grid-template: 230px / repeat(4, 400px);
  grid-auto-columns: 400px;
  grid-auto-rows: 230px;
  grid-auto-flow: column;
  overflow: scroll !important;
  padding: 30px 50px !important;
  margin: 0 !important;
  gap: 40px;
  box-sizing: border-box;
  width: 100% !important;
}

.experts--grid>li {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin-top: 0 !important;
  padding-left: 0 !important;
}

@media screen and (min-width: 980px) {
  .experts--grid {
    grid-template: repeat(2, 230px) / repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 230px;
    grid-auto-flow: dense;
    overflow: visible !important;
  }
}

@media screen and (min-width: 1200px) {
  .experts--grid {
    grid-template: repeat(2, 230px) / repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 230px;
    padding: 30px 10px !important;
  }
}

.expert-card {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--bg-color-experts);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  position: relative;
}

.expert-card--info {
  padding: 1rem !important;
}

.expert-card--pin {
  width: 21px;
  height: 60px;
  position: absolute;
  left: 20px;
  top: -5px;
  z-index: 10;
}

.expert-card--photo {
  z-index: 5;
  min-width: 165px;
  height: 200px;
  margin-left: -7px;
  margin-top: 12px;
  transform: rotate(-1.5deg);
  align-self: flex-start;
}

.expert-card--name {
  font-size: 1.2rem !important;
  line-height: 1.2 !important;
  color: var(--text-color-accent) !important;
}

.expert-card--role {
  color: var(--text-color-accent) !important;
  opacity: .75;
  font-size: .8rem !important;
}

.expert-card--descr {
  color: var(--text-color-secondary) !important;
  font-size: .8rem !important;
  margin-top: 1.5rem !important;
}