.site-header .uk-navbar-item {
  min-height: 50px !important;
}

.site-header .uk-navbar-nav>li>a {
  color: var(--text-color-primary) !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.site-header .uk-navbar-toggle {
  min-height: 50px !important;
}

.site-header .cta-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .15rem 2.25rem !important;
  border-radius: 40px !important;
  font-weight: var(--bold-font-weight) !important;
  color: var(--text-color-inverse);
  border: 2px solid var(--bg-color-accent) !important;
  opacity: 1;
  transition: var(--bttn-transition);
  line-height: 2rem !important;
  background: var(--bg-color-accent);
  color: var(--text-color-inverse) !important;
  text-transform: none !important;

  font-size: 1rem !important;
}

.site-header .cta-btn:hover {
  opacity: .6;
  background: var(--bg-color-accent);
}

@media screen and (min-width: 960px) {

  .site-header .uk-navbar {
    display: grid;
    grid-template: 1fr / auto 1fr auto;
    gap: 3rem;
  }

  .site-header .uk-navbar .uk-navbar-center {
    position: relative !important;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
  }

  .site-header .uk-navbar-nav {
    width: 100%;
  }

  .site-header .uk-navbar-nav li {
    flex: 0 auto;
  }

  .site-header .uk-navbar-nav li a {
    min-height: 50px !important;
  }

  .site-header .uk-navbar-nav li:first-child {
    flex: 1;
  }

  .site-header .uk-navbar-nav li:first-child a {
    justify-content: start;
  }
}