@use 'variables';
@use 'header';
@use 'footer';
@use 'hero';
@use 'problems';
@use 'cta';
@use 'statement';
// @use 'story';
// @use 'result';
// @use 'experts';

html, body {
  font-family: var(--font-base);
  font-size: var(--rem); 
  line-height: 1.2;
}