// импорт переменных
@import 'uikit/dist/css/uikit.min.css';
@import 'variables';

header {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background-color: var(--primary-color);
}

footer {
  background-color: var(--accent-color);
}