.problems--title {
  font-weight: 600 !important;
  font-size: 2rem !important;
  text-align: center;
  text-transform: uppercase !important;
  color: var(--text-color-accent) !important;
  font-family: var(--font-family-accent) !important;
}

#problems .problems--title {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 960px) {
  .problems--title {
    font-size: 3rem !important;
    text-align: left;
    max-width: 980px;
  }
}

.problems--stage {
  position: relative;
  min-height: 1200px;
}

@media screen and (min-width: 960px) {
  .problems--stage {
    min-height: 500px;
  }
}

.problems--line {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 1150px !important;
  max-width: 1150px;
  height: auto !important;
  z-index: 5;
}

@media screen and (min-width: 960px) {
  .problems--line {
    width: 100% !important;
    height: auto !important;
    transform: translate(-50%, -50%) rotate(0);
  }
}

.problems--items {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.problems--item {
  position: absolute;
  min-height: 160px;
  min-width: 220px;
  transform: translate(-50%, -50%);
}

.problems--item:nth-child(1) {
  top: 170px;
  left: 63%;
}

.problems--item:nth-child(2) {
  top: 420px;
  left: 45%;
}

.problems--item:nth-child(3) {
  top: 640px;
  left: 55%;
}

.problems--item:nth-child(4) {
  top: 840px;
  left: 39%;
}

.problems--item:nth-child(5) {
  top: 1050px;
  left: 60%;
}

@media screen and (min-width: 960px) {
  .problems--item {
    min-height: 200px;
    width: 160px;
  }

  .problems--item:nth-child(1) {
    top: 280px;
    left: 16%;
  }

  .problems--item:nth-child(2) {
    top: 370px;
    left: 38%;
  }

  .problems--item:nth-child(3) {
    top: 150px;
    left: 56%;
  }

  .problems--item:nth-child(4) {
    top: 260px;
    left: 75%;
  }

  .problems--item:nth-child(5) {
    top: 250px;
    left: 93%;
  }
}

.problem-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 160px;

  // TEST
  background-color: rgb(222, 184, 135,.5);
}

.problems--item:nth-child(3) .problem-card,
.problems--item:nth-child(4) .problem-card {
  flex-flow: row-reverse nowrap;
}

@media screen and (min-width: 960px) {
  .problem-card {
    flex-flow: column nowrap !important;
    width: 160px;
  }

  .problems--item:nth-child(2) .problem-card,
  .problems--item:nth-child(5) .problem-card {
    flex-flow: column-reverse nowrap !important;
  }
}

.problem-card--frame {
  min-height: 160px;
  min-width: 160px;

  // TEST
  background-color: rgba(0, 255, 255,.5);
}

.problem-card--caption {
  color: var(--text-color-primary);
  text-align: center !important;
  line-height: 1.25;
  font-size: 1.2rem !important;
  min-width: 160px;
  max-width: 180px;
}

@media screen and (min-width: 960px) {
  .problem-card--caption {
    min-width: 140px;
    width: 90%;
    font-size: 1rem !important;
  }
}