.result-container {
  position: relative;
}

.result-zigzag {
  position: absolute;
  top: -5%;
  right: 7%;
}

.result-planet {
  position: absolute;
  top: 10%;
  left: 10%;
}

.result--title {
  color: var(--text-color-accent) !important;
  max-width: 740px;
  margin: 0 auto;
  margin-bottom: 2rem !important;
}

@media screen and (min-width: 640px) {
  .result--title {
    margin-bottom: 4rem !important;
  }
}

.result--kicker {
  display: block;
  opacity: .75;
}

.result--items {
  display: grid;
  grid-template: repeat(4, auto) / auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .result--items {
    grid-template: repeat(2, auto) / repeat(2, auto);
    align-items: start;
    gap: 30px 0;
  }
}

@media screen and (min-width: 1280px) {
  .result--items {
    grid-template: auto / repeat(4, auto);
  }
}

.result--item {
  width: 320px;
  min-height: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.result--item-a {
  transform: rotate(-1deg);
}

.result--item-a .result-note {
  background-color: var(--bg-color-result1);
}

.result--item-b {
  transform: rotate(-3deg);
}

.result--item-b .result-note {
  background-color: var(--bg-color-result2);
}

.result--item-c {
  transform: rotate(2deg);
}

.result--item-c .result-note {
  background-color: var(--bg-color-result3);
}

.result--item-d {
  transform: rotate(-2deg);
}

.result--item-d .result-note {
  background-color: var(--bg-color-result4);
  color: var(--text-color-inverse);
}

@media screen and (min-width: 640px) {

  .result--item-b,
  .result--item-d {
    margin-left: -5px;
  }
}

@media screen and (min-width: 1280px) {
  .result--item-c {
    margin-left: -5px;
  }
}

.result-card {
  background-color: rgba(0, 255, 255, .5);
  width: 320px;
  height: 320px;
  margin-bottom: -100px !important;
  z-index: 10;
}

.result-note {
  padding: 120px 25px 25px 25px;
  width: 90%;
  box-sizing: border-box;
  z-index: 5;
  border: 1px solid var(--text-color-accent);
  color: var(--text-color-accent);
}