.statement--kicker {
  color: var(--text-color-accent) !important;
  letter-spacing: .04em;
  font-weight: 400;
  font-size: .9rem !important;
  text-transform: uppercase !important;
  opacity: .75;
  max-width: 50% !important;
  margin: auto;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 960px) {
  .statement--kicker {
    font-size: 1rem !important;
  }
}

.statement--title {
  margin: 0 auto;
  max-width: 90%;
  color: var(--text-color-accent) !important;
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.6rem !important;
}

@media screen and (min-width: 960px) {
  .statement--title {
    font-size: 2.2rem !important;
  }
}

.statement--accent {
  opacity: .75;
}