.story {
  padding: 70px 0 !important;
}

.story--row {
  display: flex;
  flex-flow: column nowrap;
}

.story--row-greating {
  flex-flow: row nowrap !important;
}

@media screen and (min-width: 960px) {
  .story--row {
    flex-flow: row-reverse nowrap;
  }

  .story--row-process {
    flex-flow: row nowrap !important;
  }
}

.story--row-greating .story-quote {
  text-align: left;
}

.story--col {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative !important;
}

@media screen and (min-width: 960px) {
  .story--col-quote {
    align-items: flex-start !important;
  }

  .story--row-process .story--col-quote {
    align-items: flex-end !important;
  }
}

.story-quote {
  color: var(--text-color-inverse);
  font-size: 1rem !important;
  max-width: 320px;
  text-align: center;
  z-index: 10;
}

.story-quote--intro {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
  z-index: 10;
}

@media screen and (min-width: 960px) {
  .story-quote {
    text-align: left;
  }

  .story--row-process .story-quote {
    text-align: right;
  }
}

.story--bttn {
  text-transform: none !important;
  max-width: 290px;
  background-color: var(--bg-color-accent-second) !important;
  line-height: 1.2 !important;
  font-weight: 400 !important;
  height: auto !important;
  padding: 16px 40px !important;
  transition: var(--bttn-transition);
  font-size: 1rem !important;
}

.story--bttn:hover {
  opacity: .8;
}

.story--brush {
  position: absolute;
  top: 0;
  left: 30%;
  min-width: 130%;
  height: auto;
  min-height: 200px;
  z-index: 5;
}

.story--photo {
  z-index: 10;
  min-height: 280px;
  min-width: 215px;
}

.bubble--image  {
  display: none;
}

@media screen and (min-width: 960px) {
  .bubble {
    padding: 25px 50px;
    box-sizing: border-box;
    position: relative;
  }

  .bubble--image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 125% !important;
    height: 100% !important;
  }

  .bubble--image-left {
    left: -25% !important;
  }

  .bubble--image-right {
    left: auto;
    right: -25%;
  }
}