.story {
  padding: 190px 0 !important;
  position: relative;
  // margin-bottom: 120px;
}

.story--container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 10;
}

.story-bg {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 104%;
  z-index: 2;
}

.story-bg-desktop {
  display: none;
}

@media screen and (min-width: 960px) {
  .story-bg-desktop {
    display: block;
  }

  .story-bg-mobile {
    display: none;
  }
}

.story-card {
  z-index: 10;
}

.story--row {
  z-index: 10;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0 !important;
}

.story--row-greating {
  flex-flow: row nowrap !important;
}

@media screen and (min-width: 960px) {
  .story--row {
    flex-flow: row-reverse nowrap;
  }

  .story--row-process {
    flex-flow: row nowrap !important;
  }
}

.story--row-greating .story-quote {
  text-align: left;
}

.story--col {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative !important;
}

@media screen and (min-width: 960px) {
  .story--col-quote {
    align-items: flex-start !important;
  }

  .story--row-process .story--col-quote {
    align-items: flex-end !important;
  }
}

.story-quote {
  color: var(--text-color-inverse);
  font-size: 1.25rem !important;
  max-width: 320px;
  text-align: center;
  z-index: 10;
}

.story-quote--intro {
  font-size: 1.6rem !important;
  font-weight: 400 !important;
  z-index: 10;
}

@media screen and (min-width: 960px) {
  .story-quote {
    text-align: left;
  }

  .story--row-process .story-quote {
    text-align: right;
  }
}

.story--brush {
  position: absolute;
  top: -35;
  left: 20%;
  max-width: 120%;
  height: 100%;
  min-height: 200px;
  z-index: 5;
  opacity: .7;
}

@media screen and (min-width: 960px) {
  .story--brush {
    top: 0;
    left: 30%;
    width: 80%;
  }
}

.story--photo {
  z-index: 10;
  min-height: 280px;
  min-width: 215px;
  max-width: 45%;
}

.bubble--image {
  display: none;
}

@media screen and (min-width: 960px) {
  .bubble {
    padding: 25px 50px;
    box-sizing: border-box;
    position: relative;
  }

  .bubble--image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 125% !important;
    height: 100% !important;
  }

  .bubble--image-left {
    left: -25% !important;
  }

  .bubble--image-right {
    left: auto;
    right: -25%;
  }
}