<div class="method-step uk-grid-small uk-child-width-auto uk-grid" uk-grid>
  <div class="method-step--index-wrap">
    <span class="uc-h3 method-step--index" aria-label="Этап @@index">@@index</span>
  </div>
  <div class="uk-width-expand">
    <article class="uk-card uk-card-default uk-card-body method-step--card">
      <header class="method-step--header">
        <h4 class="uc-h4 method-step--subtitle">@@title</h4>
        <h5 class="method-step--term">@@term<h5>
      </header>

      <p class="uk-text-bold uk-margin-small-bottom">@@desc</p>
      @@if (typeof listItem1 !== 'undefined' && listItem1) {
      <ul class="uk-list uk-list-bullet method-step--list">
        <li>@@listItem1</li>
        <li>@@listItem2</li>
        <li>@@listItem3</li>
        @@if (typeof listItem4 !== 'undefined' && listItem4) {<li>@@listItem4</li>}
        @@if (typeof listItem5 !== 'undefined' && listItem5) {<li>@@listItem5</li>}
      </ul>
      }
      @@if (typeof result !== 'undefined' && result) {<h5 class="uc-h3 method-step--result">@@result</h5>}
    </article>
  </div>
</div>