<!-- Локальное подключение UIkit и иконок из /vendor 
+ Автономно, работает без интернета
- Обновлять вручную -->
<script src="./vendor/uikit.min.js" defer></script>
<script src="./vendor/uikit-icons.min.js" defer></script>

<!-- Подключение через CDN (jsDelivr) 
+ Быстрее за счёт кэша, всегда свежая версия
- Риск недоступности при блокировке CDN -->
<!-- <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit-icons.min.js"></script> -->

<script src="./js/main.js" defer></script>