<!-- ROW 1: фото слева, интро+история справа -->
<div class="story--row story--row-greating uk-grid-large uk-child-width-1-1 uk-child-width-1-2@m" uk-grid uk-height-match="target: .story-card">
  <div class="story--col story--col-photo">
    <img class="story--brush" src="" alt="story--brush" loading="lazy">
    <img class="story--photo" src="@@img1" alt="@@alt1" loading="lazy">
  </div>
  <div class="story--col story--col-quote">
    <div class="story-card story-card--quote bubble">
       <div class="bubble--image bubble--image-left"></div>
      <p class="story-quote story-quote--intro">@@hist-intro</p>
      <p class="story-quote">@@history</p>
    </div>
  </div>
</div>

<div class="story--row story--row-process uk-grid-large uk-child-width-1-1 uk-child-width-1-2@m" uk-grid uk-height-match="target: .story-card">
  <div class="story--col story--col-quote">
    <div class="story-card story-card--quote bubble">
       <div class="bubble--image bubble--image-right"></div>
      <p class="story-quote story-quote--intro">@@proc-intro</p>
      <p class="story-quote">@@process</p>
    </div>
  </div>
  <div class="story--col story--col-photo">
    <img class="story--photo" src="@@img2" alt="@@alt2" loading="lazy">
  </div>
</div>

<div class="story--row story--row-result uk-grid-large uk-child-width-1-1 uk-child-width-1-2@m" uk-grid uk-height-match="target: .story-card">
  <div class="story--col story--col-quote">
    <div class="story-card story-card--quote bubble">
       <div class="bubble--image bubble--image-left"></div>
      <p class="story-quote story-quote--intro">@@res-intro</p>
      <p class="story-quote">@@result</p>
    </div>
  </div>
  <div class="story--col story--col-photo">
    <img class="story--photo" src="@@img3" alt="@@alt3" loading="lazy">
  </div>
</div>

<div class="uk-text-center uk-margin-large-top">
  <a class="story--bttn uk-button uk-button-primary uk-border-pill" href="@@tg_link" target="_blank" rel="noopener">Узнать условия пребывания в&nbsp;пансионате</a>
</div>