.header .uk-navbar-item {
  min-height: 50px !important;
}

.header .uk-navbar-nav>li>a {
  color: var(--text-color-primary) !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.header .uk-navbar-right{
  gap: .6rem !important;
}

.header .uk-navbar-dropdown-nav>li>a {
  color: var(--text-color-primary) !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.header .uk-navbar-dropdown-nav>li>a:hover {
  color: var(--text-color-secondary) !important;
}

@media screen and (min-width: 960px) {

  .header .uk-navbar {
    display: grid;
    grid-template: 1fr / auto 1fr auto;
    gap: 3rem;
  }

  .header .uk-navbar .uk-navbar-center {
    position: relative !important;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
  }

  .header .uk-navbar-nav {
    width: 100%;
  }

  .header .uk-navbar-nav li {
    flex: 0 auto;
  }

  .header .uk-navbar-nav li a {
    min-height: 50px !important;
  }

  .header .uk-navbar-nav li:first-child {
    flex: 1;
  }

  .header .uk-navbar-nav li:first-child a {
    justify-content: start;
    gap: 1rem;
  }

  .header .uk-navbar-chevron {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--text-color-secondary);
  }
}

.uk-offcanvas-bar {
  max-width: 100dvw !important;
  width: 100dvw !important;
  background-color: var(--bg-color-base) !important;
}

.uk-offcanvas-bar .uk-nav a {
  color: var(--text-color-primary) !important;
  font-size: 1.5rem !important;
  opacity: 1;
  transition: var(--bttn-transition);
}

.uk-offcanvas-bar .uk-nav a:hover {
  color: var(--text-color-primary) !important;
  opacity: .6;
}

.uk-offcanvas-bar .uk-navbar-chevron {
  margin-left: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1.5px solid var(--text-color-secondary);
}

.uk-offcanvas-bar .uk-offcanvas-close {
  background: var(--text-color-secondary) !important;
}

.uk-offcanvas-bar .uk-offcanvas-close svg,
.uk-offcanvas-bar .uk-offcanvas-close line {
  fill: var(--text-color-inverse) !important;
  stroke: var(--text-color-inverse) !important;
}

.uk-offcanvas-bar .uk-text-muted .uk-margin-small-top {
  color: var(--text-color-secondary) !important;
  font-size: 1.25rem !important;
}

.uk-offcanvas-bar .uk-text-muted a {
  color: var(--text-color-primary) !important;
}